/*------------------ Breadcrumb styling --------------------*/
.breadcrumbs
{
	background: linear-gradient(rgba(150, 60, 221, 0.1), rgba(17, 17, 69, 0.8)), url('../img/contact-bc.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.breadcrumb-container
{
	height: 34vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1.5rem;
}

.breadcrumb-container .hero-heading
{
	font-size: 3rem;
}
/*------------------ Breadcrumb styling --------------------*/



/*------------------------ Map styling ----------------------------*/
.map-location
{
	margin: 1rem 0;
	display: flex;
	align-items: center;
}

.map-location ion-icon
{
	font-size: 2.6rem;
	color: var(--yellow-color);
}
/*------------------------ Map styling ----------------------------*/



/*------------------------------ Contact Info ---------------------------*/
/* 
  imports:
    https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;

  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

/*------------------------------ Contact Info ---------------------------*/




/*---------------------------------- Branches ---------------------------*/
.branch-img
{
	margin: 1rem 0;
}

.branch-card
{
	margin: 2rem 0;
	padding: 1.6rem;
	display: flex;
	flex-direction: column;
	grid-gap: 0.8rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
/*---------------------------------- Branches ---------------------------*/













/*-------------------------------------------------------------------------------------*/
/*----------------------------- Desktop screen styling ----------------------------------*/
/*-------------------------------------------------------------------------------------*/
@media screen and (min-width: 789px)
{
	/*----------- Breadcrumb styling ----------*/
	.breadcrumb-container 
	{
		height: 50vh;
	}


	/*------------ Map styling ----------------*/
	.map .container
	{
		max-width: 960px;
		text-align: center;
	}

	.map-location
	{
		justify-content: center;
	}


	/*-------------- Contact info ---------------*/
	/*.contact-info .container
	{
		padding: 8rem 0;
	}*/

	.contact-info .container .row
	{
		flex-direction: row;
	}

	.contact-info .container .row .col ion-icon 
	{
		color: var(--yellow-color);
		font-size: 5rem;
	}

	.info-name 
	{
		font-size: 2.6rem;
	}

	.info-detail 
	{
		font-size: 1.6rem;
	}


	/*-------------------------- Branches styling -----------------------*/
	.branch-card 
	{
		padding: 4rem;
	}
}